.well{id: "#{type}_fields"}
  %h3= t("#{type}_address")
  = simple_fields_for "#{type}" do |s|
    = s.simple_fields_for :address do |a|
      = a.hidden_field :addressable_type, value: "order_#{type}"
      = a.hidden_field :addressable_id, value: order.id

      - [:first_name, :last_name, :address, :city, :zipcode].each do |field|
        = a.input field, input_html: { value: fill_address(user, order, type, field) }

      = a.input :phone,
                input_html: { value: fill_address(user, order, type, :phone) },
                placeholder: '+380971112233'

      = a.input :country_code,
                selected: fill_address(user, order, type, :country_code),
                label: t('checkout.country')

  - if type == :shipping
    = f.fields_for :use_billing do |sb|
      = sb.check_box :allow, checked: true
      = t('checkout.use_billing')
