.well
  %h3= t('checkout.order_summary')
  %ul.list-group
    %li#item_total_field.list-group-item{ data: { item_total: order.total } }
      = t('checkout.item_total')
      = order.total_in_currency
    - unless step == :address
      - if wizard_steps.include? :delivery
        %li.list-group-item
          = t('checkout.shipping_price')
          %span#shipping_price_field
            - unless step == :delivery
              = order.delivery.try(:decorate).try(:price_in_currency) || '...'
      %li.list-group-item
        = t('checkout.order_total')
        %span#order_total_field
          = order.total_with_delivery unless step == :delivery
