= render partial: 'ckeckout_header', locals: { step: @step }
%main.raw{id: "#{@step}_step"}
  = render partial: 'errors_messages', locals: { order: @order }
  = form_for @order, url: wizard_path do |f|
    .raw
      .col-md-8
        = render partial: 'credit_card', locals: { f: f, order: @order }
      .col-md-4
        = render partial: 'order_summary',
                 locals: { step: @step, order: @order }
    .raw
      .col-md-12.text-left
        = render partial: 'bottom_buttons', locals: { f: f }
