= form_for order do |f|
  %table.table
    %thead
      %tr
        %th.lead.text-center= t('cart.product')
        %th.lead.text-center= t('cart.quantity')
        %th.lead.text-center= t('cart.price')
        %th.lead.text-center= t('cart.total')
    %tbody.text-center
      = f.fields_for :order_items do |f|
        %tr
          %td{width:'60%'}
            %h4= f.object.productable.title
            %p= f.object.productable.try(:description)
          %td{width:'10%'}
            = f.number_field :quantity, class: 'form-control'
            = f.hidden_field :id
          %td{width:'10%'}= number_to_currency f.object.productable.price
          %td{width:'10%'}= number_to_currency f.object.item_total
          %td{width:'10%'}= delete_item_link f.object.id
      %tr.lead
        %td{colspan:2}
        %td.text-right
          %p= t('cart.discount') if order.coupon
          %p= t('cart.total')
        %td
          %p= order.discount if order.coupon
          %p= number_to_currency order.total
      %tr
        %td.text-left
          = empty_cart_link order.id
        %td.text-left
          = continue_shopping_link
        %td
          = f.fields_for :coupon do |f|
            = f.text_field :code, class: 'form-control',
                           placeholder: (order.coupon ? order.coupon.code : t('cart.coupon_code')),
                           disabled: (true if order.coupon)
        %td.text-center= f.submit t('cart.update_order'), class: 'btn btn-primary'
        %td.text-center= link_to_checkout
